@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --vermelho: #be0000;
    --azul-degrade: linear-gradient(97.54deg, #002f52 35.49%, #326589 165.37%);

}
.container {
    display: flex;
    align-items: center;
}
.container__imagem {
    padding: 1em;
    height: 65px;
}

body {
    background-color: var(--cor-de-fundo);
}

h1 {
    background-color: white;
}

